.our_team{
  .p_our_team{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #3f444a;

  }
  .p_our_team1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    color: #595d62;
  }
  .portfolio ul,
  .portfolio li{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .portfolio ul{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  .portfolio li {
    display: inline-block;
    width: 200px;
    position: relative;
    margin-left: 20px;
  }
  .portfolio img {
    max-width: 100%;
    display: block;
  }
  .information{
    top: 149px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 33.5%;
    background-color: #e64849;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    opacity: 0;
    transition: all .25s;
    line-height: 1.2rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .name{
    margin-left: 30px;
  }
  .special{
    font-size: 16px;
    width: 100%;
  }
}
.portfolio li:hover .information{
opacity: 1;
}
